#calculator{
    border:2px solid black;
    background-color:#dfdbd1;
    width:250px;
    border-radius: 3px;
   
  }
  .input{
      margin:10px;
    width:85%;
    font-size: 30px;
    border-radius: 3px;
    background-color: rgb(224, 217, 217);
  }
  .button_container{
    justify-content: center;
     display: flex; 
     flex-wrap: wrap;
     background-color:#d6d4cf;
  }
  .button{
    margin:3px;
   font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius:7px;
    background-color:#eedca5;
    
  }
  #button_color{
    background-color: rgb(112, 105, 105);
    color: white;
  }
  #button_clear{
    background-color: rgb(245, 12, 12);
  }
  #button_equal{
    background-color: rgb(149, 221, 131);
  }